pandas
numpy
seaborn
scipy
matplotlib
hvplot
scikit-learn
xgboost
lightgbm
catboost
tensorflow-gpu==2.10.1
keras-tuner
pyyaml
optuna
optuna-integration[tfkeras]
joblib
mlflow
fastapi
uvicorn
pydantic
starlette
# -e .